# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.env.*
.pytest_cache/

# Node
node_modules/
dist/

# Docker
docker-compose.override.yml
*.log

# Editor
.vscode/
.idea/
.DS_Store

# Vercel
.vercel
